body {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  width: 100%
}

.main {
  width: 100%;
}

.header {
  width: 100%;
  display: grid;
  align-content: center;
  /* justify-items: center; */
  grid-template-columns: 45% 10% 45%;
  grid-template-rows: auto;
  margin: 92px 0px;
  gap: 20px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}


.header__menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  gap: 30px;

}

.header__links-list a {
  text-decoration: none;
}

.header__links-list-item {
  list-style-type: circle;
  border-bottom: 1px black solid;
}

.header__links-list-item_no-bullit {
  list-style-type: none;
}

.header__logo {
  display: grid;
  align-items: center;
}

.header__logo-image {
  display: grid;
  justify-content: center;
}

.header__address {
  display: flex;
  flex-direction: column;
  align-items: end;
  line-height: 24.3px;
}

.header__address ul {
  display: grid;
  margin-right: 40px;
  list-style-type: none;
}

.overlay {
  background-color: rgb(0 0 0 /0.6);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.cover {
  position: relative;
  color: white;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  width: 1440px;
  height: 750px;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cover__title {
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  align-self: center;
  /* flex-direction: column; */
}

.aligned-text {
  display: flex;
}

.aligned-text_center {
  display: flex;
  /* justify-content: center;
  align-items: center; */
}

.aligned-text_right {
  display: flex;
  justify-content: center;
  align-self: end;
}

.letter-spacing-extended {

}

.no-letter-spacing {

}

.cover__description {

}

.cover__description-text {

}

.bet-button {
  background-color: rgb(0, 0, 0, 0);
}
